{{#burger-menu
  open=true
  animation="push"
  width=300
  translucentOverlay=false
  dismissOnClick=false
  as |burger|}}

  {{#burger.menu}}
    {{partial "app/sidebar"}}
  {{/burger.menu}}

  {{#burger.outlet}}
    <a {{action burger.state.actions.toggle}}>
      {{svg-icon "ic_menu_24px"}}
    </a>

    <main>
      {{outlet}}
    </main>
  {{/burger.outlet}}

{{/burger-menu}}
