@mixin auth-form {
  display: flex;
  width: 100vw;
  height: 100vh;

  form {
    margin: auto;
    margin-top: 20vh;
    padding: 25px;
    background-color: color("shades", "white");
    border: solid 1px color("grey", "lighten-3");
  }
  .form-button--submit {
    width: 100%;
  }
}
