@mixin auth-form {
  display: flex;
  width: 100vw;
  height: 100vh;

  form {
    margin: auto;
    margin-top: 25%;
    padding: 25px;
    background-color: color("shades", "white");
  }
  .form-button--submit {
    width: 100%;
  }
}
