
@mixin sidebar {
  position: relative;

  // header
  h1 {
    @include typography-style(title)
    margin-bottom: 5px;
  }

  // actions
  .actions {
    position: absolute;
    top: 6px;
    right: 0;

    a + a {
      margin-left: 10px;
    }
  }

  // the actual list
  ul {
    margin-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
    max-height: calc(100vh - 190px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; // momentum scrolling on iOS
  }
  li {
    @include truncate;
    margin: 0 10px;
    padding: 10px 0;
  }
  li + li {
    border-top: 1px solid color("grey", "lighten-1");
  }
}
