
@mixin sidebar {
  position: relative;

  // header
  h1 {
    @include typography-style(title)
    margin-bottom: 5px;
  }

  // actions
  .actions {
    position: absolute;
    top: 6px;
    right: 0;

    a + a {
      margin-left: 10px;
    }
  }

  // the actual list
  ul {
    margin-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
    max-height: calc(100vh - 190px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; // momentum scrolling on iOS
  }
  li {
    @include truncate;
    padding: 10px 0;
    padding-left: 8px;
    border-left: 2px solid transparent;

    .item__details {
      @include typography-style(caption);
    }

    // active styles
    &.active {
      border-left-color: $link-active-color;
      background-color: color("grey", "lighten-4");
      .item__name {
        color: $link-active-color;
      }
    }
  }
  li + li {
    //border-top: 1px solid color("grey", "lighten-1");
    position: relative;
    &:before {
      position: absolute;
      content: '';
      height: 1px;
      top: 0;
      left: 0;
      right: 10px;
      background-color: color("grey", "lighten-1");
    }
  }
}
