@import "styleguide/styleguide";
@import 'ember-burger-menu';

@import "mixins/auth-form";

@import "pod-styles";

body > .ember-view {
  height: 100%;
}

.ember-load-indicator {
  @include typography-style(headline);
  margin-top: 30vh;
  text-align: center;
}
