& {
  textarea {
    font-family: monospace;
    height: 450px;
    width: 300px;

    @media (min-width: 640px) {
      width: 500px;
    }
    @media (min-width: 920px) {
      width: 700px;
    }
  }
}
