{{#x-card
  onsubmit=(route-action "save" song)
  title="Add new song"
  buttonText="Save"
  buttonDisabled=song.validations.messages.length}}

  <div class="row">
    {{x-input
      value=song.title
      errors=(v-get song "title" "messages")
      classNames="col s12"
      type="text"
      label="Title"}}
  </div>
  <div class="row">
    {{x-input
      value=song.author
      errors=(v-get song "author" "messages")
      classNames="col s12"
      type="text"
      label="Author"}}
  </div>
  <div class="row">
    {{textarea value=song.text}}
  </div>
{{/x-card}}

