& {
  position: absolute;
  z-index: 99;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-background {
  background-color: color("grey", "darken-4");
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-title {
  @include typography-style(headline);
  margin-bottom: 25px;
}

.modal-dialog {
  position: relative;
  padding: 4em;
  border: solid 1px color("grey", "lighten-1");
  border-radius: $global-border-radius * 2;
  background-color: color("shades", "white");
  z-index: 1;
}
