& {
  position: absolute;
  z-index: 99;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-background {
  background-color: color("grey", "darken-4");
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-title {
  @include typography-style(headline);
  margin-bottom: 25px;
}

.modal-dialog {
  background-color: white;
  padding: 4em;
  border-radius: 5px;
  border: 1px solid #B4B4E8;
  position: relative;
  z-index: 1;
}
