& {
  h1 {
    @include typography-style(title)
    margin-bottom: 5px;
  }
  a + a {
    margin-left: 10px;
  }
  ul {
    margin-top: 20px;
  }
  li {
    display: flex;
    height: 20px;
    justify-content: space-between;
  }
  .handle {
    width: 30px;
    cursor: move;
    text-align: center;
  }

  // hide handle, show on hover
  .handle {
    display: none;
  }
  li:hover .handle {
    display: block;
  }
}
