& {
  @include sidebar;

  li {
    display: flex;
    justify-content: space-between;
  }
  .handle {
    width: 30px;
    cursor: move;
    text-align: center;
  }

  // hide handle, show on hover
  .handle {
    display: none;
  }
  li:hover .handle {
    display: block;
  }
}
