
<h1>List: {{list.name}}</h1>

<div class="actions">
  {{#link-to "list.add" list}}
    {{svg-icon "ic_add_box_24px"}}
    Add
  {{/link-to}}
</div>

{{#sortable-group tagName="ul" onChange="reorderItems" as |group|}}
  {{#each (sort-by "rank" list.listItems) as |item index|}}
    {{#sortable-item tagName="li" model=item group=group handle=".handle"}}
      {{#link-to 'list.item' item.list (add index 1)}}
        {{item.song.title}}
      {{/link-to}}
      <span class="handle">&varr;</span>
    {{/sortable-item}}
  {{/each}}
{{/sortable-group}}

