
@import url('//fonts.googleapis.com/css?family=Roboto:300,400,500,700');

// https://github.com/google/material-design-lite/tree/master/packages/mdl-typography

$mdl-typography-font-family: Roboto, sans-serif;

$mdl-typography-font-weight-values: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900
);


$mdl-typography-styles: (
  display4: (
    font-size: 7rem, /* 112sp */
    line-height: 7rem, /* 112sp */
    font-weight: map-get($mdl-typography-font-weight-values, light),
    letter-spacing: -.04em,
    margin: -1rem 0 3.5rem -.085em /* -16sp 0 56sp -.085em */
  ),
  display3: (
    font-size: 3.5rem, /* 56px */
    line-height: 3.5rem, /* 56px */
    font-weight: map-get($mdl-typography-font-weight-values, regular),
    letter-spacing: -.02em,
    margin: -8px 0 64px -.07em
  ),
  display2: (
    font-size: 2.813rem, /* 45px */
    line-height: 3rem, /* 48px */
    font-weight: map-get($mdl-typography-font-weight-values, regular),
    letter-spacing: normal,
    margin: -.5rem 0 4rem -.07em /* -8sp 0 64sp -.07em */
  ),
  display1: (
    font-size: 2.125rem, /* 34sp */
    line-height: 2.5rem, /* 40sp */
    font-weight: map-get($mdl-typography-font-weight-values, regular),
    letter-spacing: normal,
    margin: -.5rem 0 4rem -.07em /* -8sp 0 64sp -.07em */
  ),
  headline: (
    font-size: 1.5rem, /* 24sp */
    line-height: 2rem, /* 32sp */
    font-weight: map-get($mdl-typography-font-weight-values, regular),
    letter-spacing: normal,
    margin: -.5rem 0 1rem -.06em /* -8sp 0 16sp -.06em */
  ),
  title: (
    font-size: 1.25rem, /* 20sp */
    line-height: 2rem, /* 32sp */
    font-weight: map-get($mdl-typography-font-weight-values, medium),
    letter-spacing: .02em,
    margin: -.5rem 0 1rem -.05em /* -8sp 0 16sp -.05em */
  ),
  subheading2: (
    font-size: 1rem, /* 16sp */
    line-height: 1.75rem, /* 28sp */
    font-weight: map-get($mdl-typography-font-weight-values, regular),
    letter-spacing: .04em,
    margin: -.5rem 0 1rem -.06em /* -8sp 0 16sp -.06em */
  ),
  subheading1: (
    font-size: .938rem, /* 15sp */
    line-height: 1.5rem, /* 24sp */
    font-weight: map-get($mdl-typography-font-weight-values, regular),
    letter-spacing: .04em,
    margin: -.313rem 0 .813rem -.06em /* -5sp 0 13sp -.06em */
  ),
  body2: (
    font-size: .875rem, /* 14sp */
    line-height: 1.5rem, /* 24sp */
    font-weight: map-get($mdl-typography-font-weight-values, medium),
    letter-spacing: .04em,
    margin: -.25rem 0 .75rem 0 /* -4sp 0 12sp 0 */
  ),
  body1: (
    font-size: .875rem, /* 14sp */
    line-height: 1.25rem, /* 20sp */
    font-weight: map-get($mdl-typography-font-weight-values, regular),
    letter-spacing: .04em,
    margin: -.25rem 0 .75rem 0 /* -4sp 0 12sp 0 */
  ),
  caption: (
    font-size: .75rem, /* 12sp */
    line-height: 1.25rem, /* 20sp */
    font-weight: map-get($mdl-typography-font-weight-values, regular),
    letter-spacing: .08em,
    margin: -.5rem 0 1rem -.04em /* -8sp 0 16sp -.04em */
  )
);


@mixin typography-base {
  font-family: $mdl-typography-font-family;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin typography-style($style) {
  $style-props: map-get($mdl-typography-styles, $style);

  @if not map-has-key($mdl-typography-styles, $style) {
    @error "Invalid style specified! Choose one of #{map-keys($mdl-typography-styles)}";
  }

  @include typography-base;

  font-size: map-get($style-props, font-size);
  font-weight: #{map-get($style-props, font-weight)};
  letter-spacing: map-get($style-props, letter-spacing);
  line-height: map-get($style-props, line-height);
}

@mixin typography-adjust-margin($style) {
  margin: map-get(map-get($mdl-typography-styles, $style), margin);
}
