@mixin button($color, $background-color, $border-color) {
  @include typography-style(body1);

  display: inline-block;
  height: $global-input-height;
  padding-left: 15px;
  padding-right: 15px;

  color: $color;
  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: $global-border-radius;
  text-transform: uppercase;

  &:focus {
    outline: none;
    box-shadow: 0px 0px 10px 0px $border-color;
  }
}

.button {
  @include button(color("grey", "lighten-5"), color("green", "lighten-1"), color("green", "darken-1"));
}
