@mixin button-shape {
  @include typography-style(body1);

  display: inline-block;
  height: $global-input-height;
  padding-left: 15px;
  padding-right: 15px;

  text-transform: uppercase;

  &:focus {
    outline: none;
  }
  &:disabled {
   cursor: not-allowed !important;
  }
}

@mixin button-coloring($color, $background-color) {
  $border-color: darken($background-color, 7%);

  color: $color;
  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: $global-border-radius;

  &:focus {
    box-shadow: 0px 0px 10px 0px $border-color;
  }
  &:disabled {
   color: desaturate($color, 50%);
   background-color: desaturate($background-color, 50%);
   border-color: desaturate($border-color, 50%);
  }
}

@mixin button($color, $background-color) {
  @include button-shape();
  @include button-coloring($color, $background-color);
}

.button {
  @include button(color("grey", "lighten-5"), color("green", "lighten-1"));
}

.button--warn {
  @include button(color("grey", "lighten-5"), color("red", "lighten-1"));
}
