
form {
  border-radius: $global-border-radius;
}

.form-field {
  margin: 10px 0;
  text-align: left;

  &--label {
    display: inline-block;
    width: 100px;
  }

  &--control {
    height: 25px;
    width: 150px;
    border: solid 1px color('grey');
    border-radius: $global-border-radius;
  }
}
.form-field--has-errors {
  .form-field {
    &--control {
      border-color: color('red');
    }
    &--errors {
      color: color('red');
    }
  }
}
.form-button--submit {
  margin-top: 20px;
  margin-bottom: 5px;
}
