form {
  border-radius: $global-border-radius;
  &:focus {
    outline: none;
  }
}

.form-field {
  margin: 10px 0;
  text-align: left;

  &--label {
    display: inline-block;
    width: 90px;
  }

  &--control {
    height: $global-input-height;
    width: 250px;
    padding: 10px;
    background-color: color("grey", "lighten-5");
    border: solid 1px color("grey", "lighten-1");
    border-radius: $global-border-radius;
    transition: background-color, border-color, outline;
    transition-duration: $global-transition-duration;
    &:focus {
      outline: none;
      background-color: color("shades", "white") !important;
      border-color: color("yellow", "darken-3");
    }
  }
}

.form-field.textarea-field {
  .form-field--label {
    padding-top: 5px; // a bit offset from top
    vertical-align: top;
  }
}

.form-field--has-errors {
  .form-field {
    &--control {
      background-color: color("red", "lighten-5");
      border-color: color("red");
    }
    &--errors {
      color: color("red");
    }
  }
}

.form-button, .form-button--submit {
  margin-top: 20px;
  margin-bottom: 5px;
}
.form-button {
  @include button(color("grey", "darken-1"), color("grey", "lighten-4"), color("grey", "lighten-2"));
}
.form-button--submit {
  @include button(color("grey", "lighten-5"), color("green", "lighten-1"), color("green", "darken-1"));
}
