$background-color: color("grey", "lighten-5");

html, body {
  padding: 0;
  margin: 0;
  height: 100%;

  background-color: $background-color;
}

// set box-sizing
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
