
$text-color: color("grey", "darken-4");

body {
  @include typography-style(body1);
  color: $text-color;
}

a {
  @include typography-style(body1);
  color: $text-color;
  text-decoration: none;

  &:hover {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  &.active {
    color: color("amber", "darken-4");
  }
}

// reset headings
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}
