& {
  position: relative;
  width: 20px;
  cursor: move;
  text-align: center;

  &:before, &:after {
    position: absolute;
    left: 0;
    width: 100%;
  }
  &:before {
    content: "\2191";
    top: 0;
  }
  &:after {
    content: "\2193";
    bottom: 0;
  }
}
