
{{#burger-menu
  open=showMenu
  animation="scale-rotate"
  position="right"
  translucentOverlay=false
  as |burger|
  }}

  {{#burger.menu itemTagName="li" as |menu|}}
    <ul>
      {{#menu.item}}
        {{input type="checkbox" checked=settings.nightMode}}
      {{/menu.item}}
    </ul>
  {{/burger.menu}}

  {{#burger.outlet class=(if settings.nightMode 'night-mode')}}
    <a {{action burger.state.actions.toggle}}>
      {{svg-icon "ic_menu_24px"}}
    </a>

    <main>
      {{song-sheet
        song=model
        showSectionHeaders=false
        showChords=false
      }}
    </main>
  {{/burger.outlet}}

{{/burger-menu}}
