<h1>{{t "songs.header"}}</h1>

{{#link-to "songs.new"}}{{t "songs.link-new"}}{{/link-to}}

<ul>
  {{#each model as |song|}}
    <li>
      {{#link-to 'song' song.id}}
        {{song.title}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{outlet}}
