& {

  h1 {
    @include typography-style(display1);
  }

  // minimum width
  table, td {
    width: 1px;
  }

  table {
    border-collapse: collapse;
    white-space: pre;
  }

  td {
    padding: 0;
  }

  tr.chords td {
    font-weight: bold;
    font-size: 1.0em;
  }

  tr.lyrics td {
    font-size: 1.0em;
    padding-bottom: .5em;
  }

  .song-section {
    min-width: 45%; // TODO: use flexbox
  }

  .comments {
    font-style: italic;
    font-size: 0.8em;
  }
}
