& {
  table {
    border-collapse: collapse;
    white-space: pre;
  }

  td {
    padding-left: 0;
    padding-right: 0;
  }

  tr.chords td {
    font-weight: bold;
    font-size: 1.0em;
  }

  tr.lyrics td {
    font-size: 1.0em;
  }

  .song-section {
    padding-left: 15px;
    min-width: 45%;
  }

  .comments {
    font-style: italic;
    font-size: 0.8em;
  }
}
