
<h1>Lists</h1>

<div class="actions">
  {{#link-to "lists.new"}}
    {{svg-icon "ic_add_box_24px"}}
    {{t "songs.link-new"}}
  {{/link-to}}
</div>

<ul>
  {{#each (sort-by "name" (filter-by "isNew" false lists)) as |list|}}
    <li>
      {{#link-to 'list' list.id}}
        {{list.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
