& {
  display: inline-block;
}

$config: (
  //success: 'green', // do not color success currently
  info: 'yellow',
  danger: 'red'
);

@each $name, $color in $config {
  &.#{$name} input {
    color: color($color, 'darken-1');
    border: 1px solid color($color, 'lighten-2');
    border-radius: $global-border-radius;
    background-color: color($color, 'lighten-5');
  }
}

input {
  padding: 0;
}
