$app-header-height: 20px;
$app-aside-width: 200px;

body.app {

  & > .ember-view {
    height: 100%;
  }

  .bm-menu {
    display: flex;
    flex-direction: column;

    main, header, footer {
      padding: 20px 10px;
    }

    header, footer {
      height: $app-header-height;
      background-color: color("grey", "lighten-2");

      ul {
        display: flex;
      }
      li {
        display: inline-block;
      }
      li + li {
        margin-left: 10px;
      }
    }

    header {
      position: relative;
      > a {
        @include typography-style(title)
        position: absolute;
        right: 10px;
        top: 3px;
        border-bottom: 0;
      }
    }

    footer {
      .screen-share {
        input {
          width: 160px;
          height: 20px;
          text-align: center;
        }
      }
    }

    main {
      flex-grow: 1;
      background-color: color("grey", "lighten-6");
      border-right: 1px solid color("grey", "lighten-2");
    }
  }

  .bm-content {
    padding: 20px;

    > a {
      @include typography-style(title)
      position: absolute;
      left: 10px;
      top: 3px;
      border-bottom: 0;
    }

    main {
      > h1 {
        @include typography-style(headline);
        margin-top: 25vh;
        text-align: center;
      }
    }

  }
}
