
body.app {

  header {
    height: 20px;
    padding: 20px;
    background-color: color("grey", "lighten-2");

    ul {
      display: flex;
    }
    li {
      display: inline-block;
    }
    li + li {
      margin-left: 10px;
    }

    .screen-share {
      margin-left: auto; // use whole space

      input {
        width: 180px;
        height: 20px;
        text-align: center;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
    align-content: stretch;

    & > main, & > aside {
      padding: 20px;
    }
    & > main {
      flex-grow: 1;
    }
    & > aside {
      width: 200px;
    }
  }
}
