
body.app {

  header {
    height: 20px;
    padding: 20px;
    background-color: lightgrey;

    li {
      display: inline-block;
    }
    li + li {
      margin-left: 10px;
    }
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
    align-content: stretch;

    & > main, & > aside {
      padding: 20px;
    }
    & > main {
      flex-grow: 1;
    }
    & > aside {
      width: 200px;
    }
  }
}
