<footer>
  <ul>
    <li class="screen-share">
      {{broadcast-info}}
    </li>

    <li>
      <a {{action (route-action "editUser" model.user)}}>
        {{svg-icon "ic_person_outline_24px"}}
        {{t "app.link-account"}}
      </a>
    </li>
  </ul>
</footer>
